<!DOCTYPE html>
<html lang="en">
    {% include 'includes/head.html' %}
    
    <body>
        
        <section class="section navbar">
            <div class="logo">
                <a class="logo-text" href="/">UNDB_</a>
            </div>

            <nav class="nav">
                <a class="nav-item" href="/">Vendors</a>
                <a class="nav-item" href="/consultants">Consultants</a>
                <a class="nav-item" href="/">Knowledge box</a>
                <a class="nav-item featured" href="{% url 'consultants:consultant-add' %}">Contribute</a>
            </nav>

            <nav class="nav">
                <a class="nav-item" href="/">Hello, Bunyod</a>
                <a class="nav-item" href="/consultants">Log out</a>
            </nav>
        </section>

        {% block content %} {% endblock %}
    </body>
</html>