<section class="section jumbotron">
    <div class="intro-msg-block">
        <h1>unified database_</h1>
        <p>is the web based resource where you can find briefly presented information on the consultants and vendors, instructions and suggestions on various topics related to hiring and managing the first, etc.</p>
        <p>efficiency of the very resource is based on the contribution of the community members who are planning to use it. thus please don't hesitate to contribute data.</p>
        <p>check some numbers on the right side that gives general overview of what youcan find here.</p>
    </div>
    
    <div class="brief-stats">
        <div class="brief-stat-item">
            <h2>120 international consultants</h2>
            <p>Some text that can be used later</p>
        </div>

        <div class="brief-stat-item">
            <h2>65 national consultants</h2>
            <p>Some text that can be used later</p>
        </div>

        <div class="brief-stat-item">
            <h2>125 local vendors</h2>
            <p>Some text that can be used later</p>
        </div>

        <div class="brief-stat-item">
            <h2>12 foreign vendors</h2>
            <p>Some text that can be used later</p>
        </div>

        <div class="brief-stat-item">
            <h2>34 spheres</h2>
            <p>Some text that can be used later</p>
        </div>
    </div>
</section>