{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <main class="section page">
        
        <div class="page-content duplex">
            <section class="semi-section consultant">
                <h2 class="consultant-name">Add consultant</h2>
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <p class="{{ message.tags }}">{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <form action="/add-consultant" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Add consultant record</button>
                </form>
            </section>

            <section class="semi-section consultant">
                <h2 class="consultant-name">Brief instructions</h2>
                <div class="instructions">
                    <p class="instructions-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in tenetur accusamus minus, animi, repellat amet dolore ullam ipsam et minima! Quibusdam fuga suscipit hic provident commodi voluptatibus! Et, velit!</p>

                    <p class="instructions-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in tenetur accusamus minus, animi, repellat amet dolore ullam ipsam et minima! Quibusdam fuga suscipit hic provident commodi voluptatibus! Et, velit!</p>

                    <p class="instructions-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia in tenetur accusamus minus, animi, repellat amet dolore ullam ipsam et minima! Quibusdam fuga suscipit hic provident commodi voluptatibus! Et, velit!</p>
                </div>
            </section>
        </div>

        <section class="filters-section">
            <div class="filter-box daily-hint">
                <h2 class="section-heading">Daily hint</h2>
                <div class="filter-list">
                    <p class="daily-hint-text">Consider hiring the consultants with extended professional background</p>
                </div>
            </div>
            
            <div class="filter-box">
                <h2 class="section-heading">Spheres</h2>
                <div class="filter-list">
                    <a class="filter-item" href="/">Agriculture</a>
                    <a class="filter-item" href="/">IT</a>
                    <a class="filter-item" href="/">Law</a>
                    <a class="filter-item" href="/">Gender issues</a>
                    <a class="filter-item" href="/">Social protection</a>
                    <a class="filter-item" href="/">Economy</a>
                </div>
            </div>

            <div class="filter-box">
                <h2 class="section-heading">Competences</h2>
                <div class="filter-list">
                    <a class="filter-item" href="/">Agriculture</a>
                    <a class="filter-item" href="/">IT</a>
                    <a class="filter-item" href="/">Law</a>
                    <a class="filter-item" href="/">Gender issues</a>
                    <a class="filter-item" href="/">Social protection</a>
                    <a class="filter-item" href="/">Economy</a>
                </div>
            </div>

            <div class="filter-box">
                <h2 class="section-heading">Languages</h2>
                <div class="filter-list">
                    <a class="filter-item" href="/">Agriculture</a>
                    <a class="filter-item" href="/">IT</a>
                    <a class="filter-item" href="/">Law</a>
                    <a class="filter-item" href="/">Gender issues</a>
                    <a class="filter-item" href="/">Social protection</a>
                    <a class="filter-item" href="/">Economy</a>
                </div>
            </div>

            <div class="filter-box">
                <h2 class="section-heading">Daily fee range</h2>
                <div class="filter-list">
                    <a class="filter-item" href="/">$20-$30</a>
                    <a class="filter-item" href="/">$30-40$</a>
                    <a class="filter-item" href="/">$40-$50</a>
                    <a class="filter-item" href="/">$50-%60</a>
                    <a class="filter-item" href="/">$60-$70</a>
                    <a class="filter-item" href="/">more than $70</a>
                </div>
            </div>
        </section>
    </main>
{% endblock %}